<div class="w-75 mx-auto mb-5">
    <h1 class="fs-2 mt-3">Login Form :</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        @if (errMsg) {
            <div class="alert alert-danger m-0 p-0">
                <p class="m-0 p-0">{{errMsg}}</p>
                       </div>
        }
      

        <div class="my-4">
   <label for="">Email :</label>
   <input formControlName="email" type="email" class="form-control">

   @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
    <div class="alert alert-danger p-0">
        @if (loginForm.get('email')?.errors?.['required']) {
            <p class="p-1 m-0 "> email is required</p>
        }
        @if (loginForm.get('email')?.errors?.['email']) {
            <p class="p-1 m-0 ">Invalid email address</p>
        }
   
    </div>
   }
        </div>
       
  
        <div class="my-4">
   <label for="">Password :</label>
   <input formControlName="password" type="password" class="form-control">
   @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
    <div class="alert alert-danger p-0">
        @if (loginForm.get('password')?.errors?.['required']) {
            <p class="p-1 m-0 "> password is required</p>
        }
        @if (loginForm.get('password')?.errors?.['pattern']) {
            <p class="p-1 m-0 ">Invalid Password</p>
        }
   
    </div>
   }
        </div>
  
       
     <button [disabled]="loginForm.invalid"  class=" ms-auto d-block text-white bg-success px-4 py-2 border border-0 mt-4 rounded" >
        @if (isLoding) {
            <span><i class="fa fa-spin fa-spinner"></i></span>
        }
        @else {
            <span>Login</span>
        }
   
   
     </button>
    </form>
</div>
