<div class="container ms-auto my-5">
<div class="row text-center">
    <div class="col-md-4 p-3">
        <img [src]="" class="w-100" alt="" >
    </div>
    <div class="col-md-8 p-3">
        <h1 class="fs-5"></h1>
        <p class="fs-5 text-secondary my-3"></p>
        <span></span>
        <div class="d-flex justify-content-between my-3">
                <span class="fs-5">L.E</span>
                <span> <i class="fa fa-star text-warning"></i></span>
            </div>
            <button class="btn btn-success w-100">Add To Cart</button>
        </div>
    </div>
</div>